<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.rtl.min.css" integrity="sha512-SRg0d/3qeXy0utrb7F4+4jkFHhzdyvqjAd2i9ub0zWrPS80PoRaAtzmbMeVRYtApxoEcE6tcFZaHRY5UbwrTaw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: darkgreen;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .down {
            margin-top: 100px;
            flex-grow: 1;
        }

        img {
            width: 100px;
            height: 100px;
            /*border-radius: 50%; */
        }
    </style>
</head>
<body>

<header class="fixed-top w-100">
    <div th:replace="fragments/header :: header"></div>
</header>

<div class="down container">
    <div class="p-2">
        <a class="text-decoration-none" th:href="@{/players/select}">
            <button class="btn btn-dark">Select Player</button>
        </a>

        <a class="text-decoration-none"  th:href="@{/players/rankings}">
            <button class="btn btn-dark">Rankings</button>
        </a>

        <span sec:authorize="isAuthenticated()">
            <a class="text-decoration-none"  th:href="@{/players/add}">
            <button class="btn btn-dark">Add</button>
        </a>
        </span>

    </div>
    <h1 class="text-white text-center">
        Player List
    </h1>
    <table class="table table-bordered table-striped w-100 mt-2">
        <thead>
        <tr>
            <th class="text-center p-1">Player ID</th>
            <th class="text-center p-1">Player Name</th>
            <th class="text-center p-1">Player Photo</th>
        </tr>
        </thead>
        <tbody>
        <tr class="page" th:each="player : ${players}">
            <td class="text-center align-middle p-1" th:text="${player.playerId}"></td>
            <td class="text-center align-middle p-1">
                <a class="text-decoration-none text-dark" th:href="@{'/players/selected/' + ${player.playerId}}">
                    <span th:text="${player.playerName}"></span>
                </a>
            </td>
            <td class="text-center p-1"><img  th:src="'data:image/png;base64,' + ${player.playerPhotoBase64}" alt="Player Photo"/></td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <button id="prevButton" class="btn btn-light" onclick="previousPage()">Previous</button>
        &nbsp;
        <button  id="nextButton" class="btn btn-light" onclick="nextPage()">Next</button>
    </div>
</div>

<footer class="mt-auto w-100">
    <div  th:replace="fragments/footer :: footer"></div>
</footer>

<script>
    let currentPage = 0;
    const playersPerPage = 6;
    const players = document.getElementsByClassName('page');
    const prevButton = document.getElementById('prevButton');
    const nextButton = document.getElementById('nextButton');


    function showPage(pageNumber) {
        for (var i = 0; i < players.length; i++) {
            if (i >= pageNumber * playersPerPage && i < (pageNumber + 1) * playersPerPage) { //gia index 0-5, 6-11 klp!
                players[i].style.display = 'table-row';
            } else {
                players[i].style.display = 'none';
            }
        }
    }

    showPage(currentPage);
    updateButtons();

    function previousPage() {
        if (currentPage > 0) {
            currentPage--;
            showPage(currentPage);
            updateButtons();
        }
    }

    function nextPage() {
        if (currentPage < Math.ceil(players.length / playersPerPage) - 1) {
            currentPage++;
            showPage(currentPage);
            updateButtons();
        }
    }

    function updateButtons() {
        prevButton.style.display = currentPage > 0 ? 'block' : 'none';
        nextButton.style.display = currentPage < Math.ceil(players.length / playersPerPage) - 1 ? 'block' : 'none';
    }
</script>
</body>
</html>
