<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Player</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.rtl.min.css" integrity="sha512-SRg0d/3qeXy0utrb7F4+4jkFHhzdyvqjAd2i9ub0zWrPS80PoRaAtzmbMeVRYtApxoEcE6tcFZaHRY5UbwrTaw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: darkgreen;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .down {
            margin-top: 220px;
            flex-grow: 1;
        }

        .custom-w {
            width: 250px;
        }

    </style>
</head>
<body>
<header class="fixed-top w-100">
    <div th:replace="fragments/header :: header"></div>
</header>

<div class="container down">
    <div class="text-center">
        <h1 class="mb-4 text-white">Update Player</h1>

        <form class="custom-w mx-auto" th:action="@{/players/update/{playerId}(playerId=${playerUpdateDTO.playerId})}" th:object="${playerUpdateDTO}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="playerName" class="form-label text-white">Player Name:</label>
                <input type="text" id="playerName" th:field="*{playerName}" required class="form-control" />
                <span th:if="${#fields.hasErrors('playerName')}" th:errors="*{playerName}" class="text-white"></span>
            </div>

            <div class="mb-3">
                <label for="playerPhoto" class="form-label text-white">Player Photo:</label>
                <input type="file" id="playerPhoto" name="playerPhoto" accept="image/*" class="form-control" />
            </div>

            <button type="submit" class="btn btn-dark">Update Player</button>
        </form>

        <a th:href="@{/players}" class="btn btn-secondary mt-3">Back to All Players</a>
    </div>
</div>

<footer class="mt-auto w-100">
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>
